# Manifest describing source package contents

graft package

include Makefile
include README.rst
include LICENSE
include tox.ini
include .bumpversion.cfg
include .virtualenv.requirements.txt
include .virtualenv.dev-requirements.txt

include .coverage*

recursive-include test *.py

global-exclude *.py[cod] __pycache__
