[run]
omit =
    */version.py
    */msa_store.py
    */msa_lookup.py
    */msa_init.py
    */exceptions.py


[report]
omit =
    */version.py
    */msa_store.py
    */msa_lookup.py
    */msa_init.py
    */exceptions.py
